body, div, span, h1, h2, h3, h4, h5, h6, p, td { margin:0; padding:0; border:0; outline:0; }

:root {
	--bg-clr:#eedddd;
	--hl-clr:#512DA8;
	--ll-clr:#BDBDBD;
}

body {
	background:var(--bg-clr);
	font-family:"Helvetica", sans-serif;
	font-size:16px;

	min-height: 100vh;
	position: relative;
}

h1 {
	font-size:24px;
	margin-bottom:.5em;
}

.title_bar {
	height:2px;
	border-width:0;
	background-color:var(--hl-clr);

}

.nav-links {
	float:left;
	margin-left:2ch;
}

p.nav-links a {
	margin-left:2ch;
	font-size:20px;
}

a {
	text-decoration:none;
}

a:link { color:var(--hl-clr); }
a:visited { color:var(--hl-clr); }
a:hover { text-decoration:underline;; }

.logo {
	float:left;
	margin-left:1em;
	margin-top:1.1em;
	margin-left:1.25em;
	text-align:center;
	font-size:22px;
	font-weight:bold;
	color:var(--hl-clr);
}

.nav {
	height:3em;
	padding-top:2.5em;
}

.page_title {
	margin-left:auto;
	margin-right:auto;
	margin-top:.5em;
	margin-bottom:.5em;
	text-align:center;
}

.page_content {
	margin-top:3em;
	margin-left:5em;
	width:75%;
}

.page_content p {
	text-indent:4ch;
	margin:0;
	margin-bottom:1em;
}

footer {
	position:absolute;
	height: 5em;
	bottom: 0;
	left: 0;
	right: 0;
}
