body, div, span, h1, h2, h3, h4, h5, h6, p, td { margin: 0; padding: 0; border: 0; outline: 0; }
body {
	background: #ffffcc;
	font-family: "Helvetica", sans-serif;
	font-size:16px;

}

h1 {
	font-size: 24px;
	margin-bottom:.5em;
}

.title_bar {
	height:2px;
	border-width:0;
	background-color:#856287;

}

p.nav-links a {
	margin-left:2ch;
	text-decoration: none;
	font-size:20px;
}

p.nav-links a:link { color: #6d0096; }
p.nav-links a:visited {	color: #6d0096;	}
p.nav-links a:hover { color: #856287; }
p.nav-links a:active { color: #000000; }

.logo {
	float:left;
	margin-left:1em;
}

.logo img {
	width:5.75em;
	height:2.75em;
	padding-top:1.75em;
	padding-left:.75em;
}

.nav {
	height:3em;
	padding-top:2.5em;
}

.page_title {
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	margin-bottom:15px;
	text-align:center;
}

.page_content {
	margin-top:45px;
	margin-left:5em;
	width:75%;
}

.page_content p {
	text-indent: 4ch;
	margin:0;
	margin-bottom:1em;
}

